################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/.cr/personal/FavoritesList
/bin
/obj/Debug
